/* .about-section-banner {
    border: 1px solid blue;
    height: 84vh;
    background-image: url("../Images/About/About\ Banner.jpg");
    background-size: cover;
  } */
  .about-section-1-con {
    /* border: 1px solid blue; */
  }

  .about-section-1-overlay-section {
    /* border: 1px solid blue; */
    transform: translate(0px, -140px);
  }
  .about-section-main-con {
    /* border: 1px solid red; */
    padding: 100px 68px !important;
    background: white;
  }

  .qodef-section-title-holder {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 55px 33px;
    text-align: center;
  }

  .qodef-section-title-holder.qodef-st-animate.qodef-st-corners .qodef-corner-line.line-1:before {
    height: 13px;
    width: 1px;
    background-color: #000;
    border-left-width: 0;
    border-left-color: transparent;
    -webkit-transition: width .5s, height .5s .4s, background-color .5s .4s, border-left-width .1s .4s, border-left-color .1s .4s;
    -o-transition: width .5s, height .5s .4s, background-color .5s .4s, border-left-width .1s .4s, border-left-color .1s .4s;
    transition: width .5s, height .5s .4s, background-color .5s .4s, border-left-width .1s .4s, border-left-color .1s .4s;
    left: 0;
    top: 0;
  }

  .qodef-section-title-holder.qodef-st-corners .qodef-corner-line:before {
    content: '';
    background-color: #000;
    position: absolute;
  }
  
.qodef-section-title-holder.qodef-st-animate.qodef-st-corners .qodef-corner-line.line-2:before,
.qodef-section-title-holder.qodef-st-animate.qodef-st-corners .qodef-corner-line.line-4:before {
  height: 1px;
  width: 13px;
  background-color: #000;
  -webkit-transition: width .5s, height .5s .3s, background-color .5s .4s, border-right .1s;
  -o-transition: width .5s, height .5s .3s, background-color .5s .4s, border-right .1s;
  transition: width .5s, height .5s .3s, background-color .5s .4s, border-right .1s;
}

.qodef-section-title-holder.qodef-st-corners .qodef-corner-line.line-2:before {
    left: 0;
    top: 0;
  }

  .qodef-section-title-holder.qodef-st-corners .qodef-corner-line:before {
    content: '';
    background-color: #000;
    position: absolute;
  }
  
  .qodef-section-title-holder.qodef-st-animate.qodef-st-corners .qodef-corner-line.line-3:before {
    height: 13px;
    width: 1px;
    background-color: #000;
    border-left-width: 0;
    border-left-color: transparent;
    transition: width .5s, height .5s .4s, background-color .5s .4s, border-left-width .1s .4s, border-left-color .1s .4s;
  }
  .qodef-section-title-holder.qodef-st-corners .qodef-corner-line:before {
    content: '';
    background-color: #000;
    position: absolute;
  }
  
  .qodef-section-title-holder.qodef-st-corners .qodef-corner-line.line-3:before {
    right: 0;
    bottom: 0;
  }
  
  .qodef-section-title-holder.qodef-st-corners .qodef-corner-line:before {
    content: '';
    background-color: #000;
    position: absolute;
  }
  
  .qodef-section-title-holder.qodef-st-animate.qodef-st-corners .qodef-corner-line.line-4:before {
    height: 1px;
    width: 13px;
    background-color: #000;
    transition: width .5s, height .5s .3s, background-color .5s .4s, border-right .1s;
  }
  
  .qodef-section-title-holder.qodef-st-corners .qodef-corner-line.line-4:before {
    right: 0;
    bottom: 0;
  }

  .qodef-st-title {
    font-family: var(---font01);
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.314em;
    font-size: 35px;
  }
  .qodef-st-text {
    font-family: var(---font01);
    font-weight: 300;
  }