.what-main-btn{
    display: flex;
    justify-content: start;
}
.button-loader {
    display: flex;
    gap: .25rem;
  }
  .button-loader > div {
    width: .8rem;
    height: .8rem;
    background-color: white;
    border-radius: 50%;
    animation: 1.2s infinite ease-in-out scaleUp;
  }
  
  .button-loader  div:nth-child(1) {
    animation-delay: -0.32s;
  }
  .button-loader  div:nth-child(2) {
    animation-delay: -0.16s;
  }
  .button-loader {
    display: none;
    
  }
  .button.loading .button-loader{
    display: flex;
  }
  .button.loading .button-loader{
    display: flex;
  }

  .what-we-bringe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
}
.what-we-bringe-button {
  /* width: 100%; */
  background-color: transparent;
  appearence: none;
  border: none;
  padding: 3px 0px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 300;
  transition: background-color 0.3s, transform 0.2s;
}