*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
width: 100%;
height: 100%;
overflow-x: hidden;
scroll-behavior: smooth;
}

body div{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: transparent;
    font-family: Raleway, sans-serif;
}